@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
}

.page-contanier {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.search-hotel-button,
.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
}

.main-header {
  display: flex;
  margin: 0 auto;

  color: #000000;

  background: #ffffff;
}

.header-logo-image {
  display: flex;
  width: 138px;
  margin: 0;
  margin-right: 30px;
  margin-left: 70px;
}

.navigation {
  display: flex;
  flex: auto;
  justify-content: space-between;
  width: 892px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 624px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 22px 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;

  background-color: #ffffff;
}

.navigation-user {
  max-width: 268px;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

.main-contanier {
  flex-grow: 1;
}

.promo {
  padding-top: 51px;
  padding-bottom: 25px;

  color: #ffffff;

  background: #000000;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.advantages {
  color: #000000;

  background: #ffffff;
}

.advantages-header,
.advantages-ad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
  padding-bottom: 69px;
}

.advantages-ad {
  flex-direction: column;
  width: 1200px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-header-title,
.advantages-аd-title,
.search-hotel-title,
.subscribe-title {
  margin-top: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantage-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-city {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
  color: #000000;

  background-color: #ffffff;
}

.text-advantage,
.advantage-item-icon-home,
.advantage-item-icon-food,
.advantage-item-icon-gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;

  text-align: center;
}

.promo-text-image {
  width: 458px;
  height: 352px;
}

.advantage-description {
  margin: 0;
}

.advantages-city .advantage-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-header-text,
.advantages-ad-text,
.search-hotel-text,
.subscribe-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

.advantage-item:nth-child(1),
.advantage-item:nth-child(5) {
  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-city,
.advantage-item:nth-child(2),
.advantage-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-icon-food {
  background-color: #ffffff;
}

.advantage-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.search-hotel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 406px;
}

.search-hotel-title,
.subscribe-title {
  margin-bottom: 20px;
}

.search-hotel-text,
.subscribe-description {
  margin-bottom: 54px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 415px;

  color: #ffffff;

  background-color: #000000;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-button {
  background-color: #82b3d3;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  min-height: 120px;
  margin: 0 auto;
}

.footer-social {
  width: 142px;
  margin-left: 70px;
}

.footer-contacts {
  width: 720px;
}

.footer-logo {
  margin-right: 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer-social-items {
  width: 48px;
  height: 40px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1200px;
  height: 412px;

  color: #ffffff;

  background: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  height: 160px;
  margin-right: 70px;
  margin-left: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.inner-header-tittle {
  width: 495px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 8px;
  margin-left: 70px;
}

.breadcrumbs {
  display: flex;
  width: 114px;
  margin: 0;
  margin-left: 70px;
  padding: 0;

  list-style-type: none;
}

.filter-left-contanier {
  display: flex;
  width: 371px;
}

.button-contanier {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.hotel-sort {
  display: flex;
  width: 1060px;
  margin: 40px auto 50px auto;
}

.button-table {
  width: 16px;
  height: 14;
}

.hotel-sort .button {
  width: 48px;
  height: 48px;
}

.product-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.inner-header-tittle {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotel-sort,
.product-card,
.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.hotel-sort .button {
  font-family: inherit;
  text-align: center;
  color: #333333;
  text-decoration: none;

  background-color: #ffffff;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #82b3d3;
}

.button-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: transparent;
}

.hotel-sort-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.product-card-button.detail,
.favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
}

.product-card-button.favorites {
  background-color: #82b3d3;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 70px;
}

.pagination {
  display: flex;
  padding: 0;

  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 11px 23px;

  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
}



.pagination-item:not(:last-child) {
  margin-right: 8px;
}
